In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing data
train_data = pd.read_csv('train.csv')
print(train_data.shape)
train_data.head(7)

(136950, 6)

,id,date,country,store,product,num_sold
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49
5,5,2017-01-01,Argentina,Kaggle Store,Using LLMs to Improve Your Coding,88
6,6,2017-01-01,Argentina,Kaggle Store,Using LLMs to Train More LLMs,98

In [11]:
# check null values
train_data.isna().sum()

id          0
date        0
country     0
store       0
product     0
num_sold    0
dtype: int64

In [10]:
# check duplicates for non-id columns
train_data.drop('id',axis=1).duplicated().sum()

0

In [5]:
# statistical descriptions of all columns
train_data.describe(include='all')

,id,date,country,store,product,num_sold
count,136950.00000,136950,136950,136950,136950,136950.000000
unique,NaN,1826,5,3,5,NaN
top,NaN,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,NaN
freq,NaN,75,27390,45650,27390,NaN
mean,68474.50000,NaN,NaN,NaN,NaN,165.522636
std,39534.20402,NaN,NaN,NaN,NaN,183.691575
min,0.00000,NaN,NaN,NaN,NaN,2.000000
25%,34237.25000,NaN,NaN,NaN,NaN,46.000000
50%,68474.50000,NaN,NaN,NaN,NaN,98.000000
75%,102711.75000,NaN,NaN,NaN,NaN,184.000000
max,136949.00000,NaN,NaN,NaN,NaN,1380.000000

In [12]:
set(train_data['country'])

{'Argentina', 'Canada', 'Estonia', 'Japan', 'Spain'}

## Importing country codes

In [15]:
train_data.loc[train_data['country']=='Argentina','country_code'] = 'AR'
train_data.loc[train_data['country']=='Canada','country_code'] = 'CA'
train_data.loc[train_data['country']=='Estonia','country_code'] = 'EE'
train_data.loc[train_data['country']=='Japan','country_code'] = 'JP'
train_data.loc[train_data['country']=='Spain','country_code'] = 'ES'
train_data

,id,date,country,store,product,num_sold,country_code
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63,AR
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66,AR
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9,AR
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59,AR
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49,AR
...,...,...,...,...,...,...,...
136945,136945,2021-12-31,Spain,Kagglazon,Using LLMs to Improve Your Coding,700,ES
136946,136946,2021-12-31,Spain,Kagglazon,Using LLMs to Train More LLMs,752,ES
136947,136947,2021-12-31,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,111,ES
136948,136948,2021-12-31,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,641,ES
136949,136949,2021-12-31,Spain,Kagglazon,Using LLMs to Write Better,539,ES

## Creating date features

In [ ]:
def create_dateFeature(df):
    df['Year_Nb'] = (df.date.dt.year - self.strt_year).astype(np.int8);
    df['Qtr_Nb'] = df['date'].dt.quarter.astype(np.int8);
    df["Month_Nb"] = df["date"].dt.month.astype(np.int8);
    df["Month_Sin"] = (np.sin(df['Month_Nb'] * (2 * np.pi / 12))).astype(np.float32);
    df["Day_Nb"] = df["date"].dt.day.astype(np.int16);
    df["Day_Sin"] = (np.sin(df['Day_Nb'] * (2 * np.pi / 12))).astype(np.float32);
    df["Weekday_Nb"] = df["date"].dt.dayofweek.astype(np.int8);
    df['Week_Nb'] = np.clip(df['date'].dt.week, a_min = 0, a_max= 52);
    df['Is_Weekend'] = np.where(df['Weekday_Nb'] >= 5,1,0);